<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title align="center">В хорошие руки</title>
    <!-- Bootstrap CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="../../static/css/bootstrap-reboot.min.css" rel="stylesheet">
</head>
<body>
<header class="mt-2">
    <h1 align="center" >Это Хедер</h1>
</header>
<hr>