<header class="mt-2">
    <div class="container">
        <nav class="navbar navbar-light bg-light justify-content-between">
            <div class="form-inline">
                <img src="images/logo.png" alt="logo" class="rounded-circle" style="height: 50px">
                <a class="nav-link ml-1" href='/'>В хорошие руки</a>
            </div>
            <form class="form-inline">
                <a class="btn btn-outline-success my-2 my-sm-2" type="submit" href="/reg">Регистрация</a>
                <a class="btn btn-outline-success my-2 my-sm-0 ml-1" type="submit" href="/login">Вход</a>
            </form>
        </nav>
    </div>
</header>