<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title align="center">Страница администратора</title>
</head>
<body>
<h1 th:inline="text" align="center">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

<h3 align="center">На эту страницу нельзя попасть без авторизации</h3>

<form th:action="@{/logout}" method="post" align="center">
    <input type="submit" value="Sign Out" align="center"/>
</form>
</body>
</html>