<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">

<div th:include="layouts/header.html"></div>

<h2 align="center">Этот сайт позволяет отдать найденное или неудобное животное в хорошие руки</h2>

<h3 align="center">Это главная страница - сюда можно попасть без регистрации.</h3>

<p align="center">Страница регистрации <a href="/reg">тут</a></p>
<p align="center">Страница входа <a href="/login">тут</a></p>

<p align="center">Страница администратора <a href="/admin">тут</a></p>

<div th:include="layouts/footer.html"></div>